@page "/article-list"
@using Verdure.Core
@inject HttpClient Http
<PageTitle>Blog List</PageTitle>

@if (articles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="list-group">
        @foreach (var article in articles)
        {
            <a href="article-detail/@article.Id" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@article.Title</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">@article.Content</p>
                <small>And some small print.</small>
            </a>
        }
    </div>
}
@code {
    private Article[]? articles;

    protected override async Task OnInitializedAsync()
    {
        articles = await Http.GetFromJsonAsync<Article[]>("/api/Articles/GetList");
    }
}
