<div class="container">
  <article>
    <nz-divider></nz-divider>
      <h1 nz-title>介绍</h1>
      <p nz-paragraph>
        先来个本人介绍吧，本人是个软粉，所以对微软技术比较痴迷吧，虽然技术不咋地但就是喜欢，所以大学毕业后就从嵌入式实习换成了.net的工作，当然由于换了行业所以做起.net是比较吃力的。目前水平也就一般般，这个博客呢也就是我一般般的水平搭建的，大家感觉怎么样呢？
      本人喜欢UWP开发，目前工作是做asp.net，不过偶尔会写写UWP，希望以后UWP能够流行起来。
      </p>
      <p nz-paragraph>
        这个博客是前后端分离的项目，之前有写过一个mvc的不过由于服务器到期，.net版本的升级我也就没有管理了，所以就试试前后端分离看看怎么样，于是就学起了angular结合asp.net core3.1的api项目就做了这个项目，后台是用的asp.net core搭建的api，前端是个单独的angualr项目，ui库用的蚂蚁金服的
        NG-ZORRO，由于我的html和css学的不咋地，所以ui基本上都是套用ui库提供的。
      </p>
    </article>
</div>
