.layout {
  height: 100vh;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 24px 16px 0;
  min-height: auto;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 100%;
}

nz-footer {
  text-align: center;
}

* {
  -webkit-overflow-scrolling: touch;
  }