
<div class="container">
  <form nz-form [formGroup]="editForm" (ngSubmit)="submitForm(editForm.value)">
    <input nz-input formControlName="Id" type="hidden"/>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>标题</nz-form-label>
      <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
        <input nz-input formControlName="BlogTitle" placeholder="输入博客标题" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>封面地址</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="PicUrl" placeholder="图片地址"  />    
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>封面介绍</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input formControlName="PicIntroduce" placeholder="封面介绍"  />     
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>博客内容</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please write something here!">
        <textarea formControlName="BlogContent" nz-input rows="2" placeholder="输入内容"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!editForm.valid">提交</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
