
  <!-- <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>

      <a class="navbar-brand" [routerLink]='["/"]'>Angular必应壁纸项目</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>首页</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/chat"]'>聊天室</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/alist"]'>文章列表</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!single.getLogin()">
            <a class="nav-link text-dark" [routerLink]='["/login"]'>登录</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="single.getLogin()">
              <a class="nav-link text-dark" [routerLink]='["/myinfo"]'>我的信息</a>
            </li>
        </ul>
      </div>
  </nav> -->
  <div nz-row>
    <div nz-col [nzSpan]="24">
      <a href="" id="logo"><img alt="logo" src="../../assets/logo.png">
        <img alt="云端博客" src="../../assets/site-name.svg"></a>
    </div> 
  </div>