<div class="container">
  <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
    <button nz-button><i nz-icon nzType="upload"></i><span>选择博客文件</span></button>
  </nz-upload>
  <hr>
  <nz-input-group nzAddOnBefore="文章标题">
    <input type="text" nzRequired nz-input [(ngModel)]="title" />
  </nz-input-group>
  <hr>
  <nz-input-group nzAddOnBefore="封面Url">
    <input type="text" nzRequired nz-input [(ngModel)]="pic_url" />
  </nz-input-group>
  <hr>
  <nz-input-group nzAddOnBefore="封面介绍">
    <input type="text" nzRequired nz-input [(ngModel)]="pic_info" />
  </nz-input-group>
  <hr>

  <button
    nz-button
    [nzType]="'primary'"
    [nzLoading]="uploading"
    (click)="handleUpload()"
    [disabled]="fileList.length == 0"
    style="margin-top: 16px"
  >
    {{ uploading ? '上传中' : '开始上传' }}
  </button>
</div>