@page "/"
@using Verdure.Common
@inject HttpClient Http
@inject ArticleService service

<PageTitle>Index</PageTitle>

@if (articles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        @foreach (var article in articles)
        {
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@article.Title</h5>
                        <p class="card-text">@article.Content</p>
                        <a href="article-detail/@article.Id" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<Article>? articles;

    protected override async Task OnInitializedAsync()
    {
        articles = await service.GetListAsync(new QueryRequest());
    }
}
